
  .card {
    max-width: 320px;
    text-align: center;
    margin: auto;


  }
  
  .card-img {
    width: 100%;
    
  }
  
  .card-bottom {
    padding: 32px 16px;
    background-color: #02ccba;
    text-align: left;
  }
  
  .card-title {
    margin-bottom: 16px;
  }
  
  .card-btn {
    border: solid 1px #333333;
    border-radius: 8px;
    padding: 8px;
    width: 50px;
    margin: 0 auto;
    display: block;
    margin: 1px 1px;
  }
  * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
  } 





/*ハンバーガー見本
  /* 共通パーツ */
body {
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 20px;
}

/* ヘッダー */
.header {
  border-bottom: 1px solid #ebeaeb;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.header-logo {
  padding-top: 8px;
  color: #26a69a;
}
.header-nav {
  padding: 8px;
  color: #26a69a;
}
.menu {
  display: flex;
}
.menu-item {
  margin-right: 24px;
}
.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.line-top,
.line-center,
.line-bottom {
  width: 30px;
  height: 2px;
  background-color: #26a69a;
  position: absolute;
}
.line-top {
  top: 0;
}
.line-center {
  top: 14px;
}
.line-bottom {
  top: 29px;
}

/* 問題2. レスポンシブでメニューをハンバーガーに切り替えよう */
@media screen and (max-width: 600px) {
  .header-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}



/*プロフ/*/

/*

* {
  font-size: 16px;
  list-style: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

.footer-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 24px;
}

/* 問題1. レスポンシブでコンテンツを縦並びにしてください */
/* この下に解答してください */

.footer-logo {
  display: block;
  width: 100px;
}

.footer-logo img {
  width: 100%;
}

.footer-menu {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

/* 問題2. レスポンシブ時のメインメニューをスタイリングしてください */
/* この下に解答してください */

.footer-menu-title {
  font-size: 16px;
  font-weight: bold;
  color: #063064;
}

.footer-menu-listItem {
  position: relative;
  padding-left: 15px;
  margin-left: 0.5em;
}

.footer-menu-listItem::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
  left: 0;
}

.footer-menu-listItem a {
  font-size: 12px;
  font-weight: normal;
  color: #333;
}

.footer-menu-listItem a:hover {
  opacity: 0.8;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #00366f;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.footer-btn:hover {
  opacity: 0.8;
}

.footer-sns {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.footer-copy {
  font-size: 12px;
  text-align: center;
}
